body{
  margin:0;
  font-family: serif;
  background:#0b3d2e;
  color:#f9e6a2;
  text-align:center;
  padding:20px;
}

h1{
  margin-top:10px;
}

input, select{
  width:90%;
  padding:10px;
  margin:10px 0;
  border-radius:6px;
  border:none;
}

button{
  background:#c9a23f;
  color:#003;
  border:none;
  padding:12px;
  width:90%;
  border-radius:6px;
  font-weight:bold;
}

.hasil{
  margin-top:20px;
  padding:15px;
  background:#06271d;
  border-radius:10px;
}

pre{
  white-space:pre-wrap;
  text-align:left;
}
